{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Résultat de votre recherche {% endblock %}

{% block content %}
<style>
.search-form {
  display:flex;
  flex-direction:row;
}

.search-input {
  flex-grow:2;
}
</style>
<div class="container mt-5">
    <form action="{{ path('app_search') }}" method="get" class="search-form">
        <input id="query" name="query" type="search" class="search-input browser-default" placeholder="Recherche (séparré par une virgule)" title="Recherche" value="{{ app.request.query.get('query') }}" required>
        <button type="submit" class="btn"><i class="material-icons">search</i></button>
    </form>
    <div class="row">
      {% for comp in competences %}
        <div class="col s6 m4 l2">
          <span class="badge pointer competence {% if comp.libelle in querys %}selected{% endif %}">{{ comp.libelle }}</span>
        </div>
      {% endfor %}
    </div>
    <div>
      <h5>Resultat de la recherche</h5>
      {% for item in results %}
        {% if loop.first %}<ul>{% endif %}
          <li><a href="{{ path('app_show_profile', {'id': item.id}) }}">Utilisateur #{{ user.id }}</a></li>
        {% if loop.last %}</ul>{% endif %}
      {% else %}
        <p>Aucun résultat trouvé</p>
      {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent()}}
<script src="{{ asset('js/search.js') }}"></script>
{% endblock %}
 