{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Profil{% endblock %}

{% block content %}

<h1>Mon Profil</h1>


<div class="row">
    <div class="col-4">
        <td>Email : {{app.user.email}}  </td> <br>
        <td>Date Inscription : {{app.user.dateInscription | date("d-m-Y") }}</td> <br>
        <h2 scope="col">Vos Competences</h2>
        <tr>
            <th scope="col">Nom</th>
        </tr>
        {% for competence in competences %}
        <tr class="{{cycle(['table-primary','table-secondary'],loop.index0) }}">
            <td>{{competence.libelle}}</td>
            <td><a href="{{path('modifcompetence', {'id':competence.id})}}"><i class="bi bi-brush text-black"></i></a></td>
            <td><a href="{{path('profil', {'id':competence.id})}}"><i class="bi bi-trash text-black"></i></a></td>
        </tr>
        {% endfor %}
    </br>
        <td><a href="{{path('ajoutcompetence')}}"><span class="material-icons">add</span></i></a></td>
    </div>
</div>




{% endblock %}